<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세보기</title>
    <script>
        // 댓글 수정 버튼 누르면 열리는 폼
        function toggleEditForm() {
            var editForm = document.getElementById("edit-comment");
            if (editForm.style.display === "none") {
                editForm.style.display = "block";
            } else {
                editForm.style.display = "none";
            }
        }

        // 게시글 수정 버튼 누르면 열리는 폼
        function enableEditMode() {
            var title = document.getElementById('title');
            var content = document.getElementById('content');
            title.contentEditable = true;
            content.contentEditable = true;
            title.style.border = "1px solid #000";
            content.style.border = "1px solid #000";
            document.getElementById('editButtons').style.display = 'block';
        }

        // 인라인 편집 모드를 비활성화하는 함수
        function disableEditMode() {
            var title = document.getElementById('title');
            var content = document.getElementById('content');
            title.contentEditable = false;
            content.contentEditable = false;
            title.style.border = "none";
            content.style.border = "none";
            document.getElementById('editButtons').style.display = 'none';
        }

        // 수정 내용을 저장하는 함수
        function saveChanges() {
            document.getElementById('titleInput').value = document.getElementById('title').innerText;
            document.getElementById('contentInput').value = document.getElementById('content').innerText;
            document.getElementById('editForm').submit();
        }
    </script>

    <link rel="stylesheet" href="/css/detail.css">
</head>

<body>
    <header>
        <!-- 로고 누르면 메인으로 -->
        <a href="/main"><img src="/img/logo/LOGO.png" alt="logo"></a>
        <!--뒤로가기 분실물 등록 글이면 분실물 게시판으로-->
        <a th:if="${post.code} == '0'" href="/lostitem" class="back">뒤로가기</a>
        <!--뒤로가기 습득물 등록 글이면 습득물 게시판으로-->
        <a th:if="${post.code} == '1'" href="/finditem" class="back">뒤로가기</a>
    </header>

    <div class="container">
        <!-- 게시물 분류 -->
        <p th:if="${post.code} == '0'" th:text="'분실물 등록 게시물'"></p>
        <p th:if="${post.code} == '1'" th:text="'습득물 등록 게시물'"></p>

        <!-- 게시물 제목 -->
        <h1 id="title" th:text="${post.title}"></h1>

        <!-- 게시물 내용 -->
        <div class="post-details">
            <!--작성자 아이디-->
            <span th:text="|작성자: ${post.id}|"></span>
            <!--아이디 옆에 쪽지 보내기 기능-->
            <span><a th:href="@{/message/send(userid=${post.id},sessionid=${sessionId})}">쪽지보내기</a></span>
            <!--작성일자-->
            <h4 th:text="|작성일자: ${post.regDt}|"></h4><br><br>

            <!--사진-->
            <img th:src="${post.itemImage}" alt="이미지">
            <!--물품 상세종류 이름-->
            <p th:if="${post.code} == '0'" th:text="|분실물: ${post.itemName}|"></p>
            <p th:if="${post.code} == '1'" th:text="|습득물: ${post.itemName}|"></p>
            <!--날짜-->
            <p th:if="${post.code} == '0'" th:text="|분실일자: ${post.itemDate}|"></p>
            <p th:if="${post.code} == '1'" th:text="|습득일자: ${post.itemDate}|"></p>
            <!--위치-->
            <span th:if="${post.code} == '0'" th:text="|분실위치: ${post.location1} ${post.location2}|"></span>
            <span th:if="${post.code} == '1'" th:text="|습득위치: ${post.location1} ${post.location2}|"></span><br><br>

            <!--글 내용-->
            <p id="content" th:text="${post.content}"></p>
            <!-- 게시글 수정 저장/취소 버튼 -->
            <div id="editButtons" style="display:none;">
                <form id="editForm" action="/board/detail/update" method="post">
                    <input type="hidden" name="seq" th:value="${post.seq}">
                    <input type="hidden" id="titleInput" name="title">
                    <input type="hidden" id="contentInput" name="content">
                    <button type="button" onclick="saveChanges()">저장</button>
                    <button type="button" onclick="disableEditMode()">취소</button>
                </form>
            </div>
        </div>
    </div>
    <!-- 게시글 수정 및 삭제 -->
    <div class="edit-delete-buttons">
        <!-- 작성자는 수정 및 삭제 가능 -->
        <span th:if="${userId} == ${post.id}">
            <button type="button" onclick="enableEditMode()">수정</button>
            <a th:href="@{/board/detail/delete?(seq=${post.seq})}">
                <span th:text="'삭제'"></span>
            </a>
        </span>
        <!-- 관리자는 삭제만 가능 -->
        <span th:if="${userId} == 'admin' and userId != ${post.id}">
            <a th:href="@{/board/detail/delete?(seq=${post.seq})}">
                <span th:text="'삭제'"></span>
            </a>
        </span>
    </div>
    <!-- 댓글 작성 폼 -->
    <div class="comment-write-dv container">
        <form action="/board/comment" method="post" class="comment-form">
            <input type="hidden" th:value="${post.seq}" name="postSeq">
            <label for="content">댓글</label><br>
            <textarea id="content" name="content"></textarea>

            <!-- 입력 창에 userId 보여주는 기능 -->
            <input type="text" th:value="${userId}" disabled>
            <!-- form 으로 보내는 userId 값 -->
            <input type="hidden" th:value="${userId}" name="userId">
            <!-- disabled 사용하니까 userId 가 form 으로 안 보내져서 따로 사용함 -->
            <button type="submit">댓글 달기</button><br>
        </form>

        <!-- 댓글 리스트 출력 -->
        <div th:each="comment : ${commentSet}" class="comment-dv container">
            <div class="comment">
                <span th:text="|${comment.id} : ${comment.commentContent}|"></span>
                <span th:text="${comment.regDt}" class="rag-dt"></span>

                <!-- 댓글 작성자, 관리자인 경우 삭제 가능 -->
                <a th:href="@{/board/comment/delete?(commentseq=${comment.seq},seq=${post.seq})}"
                    th:if="${userId} == 'admin' or ${userId} == ${comment.id}">
                    <span th:text="'삭제'"></span>
                </a>

                <!-- 댓글 작성자인 경우 수정 가능 -->
                <span th:if="${userId} == ${comment.id}">
                    <button type="button" th:onclick="toggleEditForm()">수정</button>
                    <!-- 댓글 수정 폼 -->
                    <div class="edit-comment" style="display:none;">
                        <form action="/board/comment/update">
                            <input type="hidden" name="seq" th:value="${post.seq}">
                            <input type="hidden" name="commentseq" th:value="${comment.seq}">
                            <textarea name="newContent" th:text="${comment.commentContent}"></textarea>
                            <button type="submit">저장</button>
                            <button type="button" th:onclick="toggleEditForm()">취소</button>
                        </form>
                    </div>
                </span>
            </div>
        </div>
    </div>



    <footer>
        <p>&copy; 2024 Lucky PYNK Lost-and-found things. All rights reserved.</p>
    </footer>
</body>

</html>