* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 60px; /* 바닥글이 내용과 겹치지 않도록 보장 */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-container h1 {
    margin: 0;
    color: #e7a5a6;
}

.section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 10px;
    color: #e7a5a6;
}

table {
    width: 100%;
    table-layout: fixed; /* 고정된 레이아웃을 설정 */
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

form {
    margin: 0;
    padding: 0;
    display: inline; /* 폼이 셀 너비를 넘지 않도록 설정 */
}

form button {
    background-color: #e7a5a6;
    border: none;
    color: white;
    width: 55px;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* 버튼을 중앙에 배치 */
}

form button:hover {
    background-color: #d89697;
}

footer {
    background-color: #d4b3b6;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

img {
    width: 100px;
}

.post-title {
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: table-cell;
    vertical-align: middle;
}

.post-comment {
    width: 430px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: table-cell;
    vertical-align: middle;
}

.email {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: table-cell;
    vertical-align: middle;
}
.delete-account,
.delete-post {
    text-align: center !important;
}
