/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    background-color: #E7A5A6;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
header h2 {
    margin-top: 13px;
}
header a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #E7A5A6;
}
header a:hover{
    background-color: #E7B5B6;
}
header .move-lostitem{
    margin-top: 10px;
}
.button-container {
    text-align: center;
    margin: 20px 0;
}
.button-container button {
    padding: 7px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #555;
    color: #fff;
}
.button-container button.active {
    background-color: #777;
}
.search-bar {
    text-align: center;
    margin: 20px 0;
}
.search-bar input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.search-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #555;
    color: #fff;
}
.search-bar button:hover {
    background-color: #777;
}
.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 120px;
    padding: 0 100px;
}
.post {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 40px;
    padding: 10px;
}
.post img {
    width: 278px;
    height: 200px;
    border-radius: 5px;
}
.post-info {
    padding: 10px;
}
.post-info a {
    color: #333;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
.post-info p {
    color: #666;
    margin-bottom: 5px;
}
footer {
    background-color: #d4b3b6;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}