<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <div class="container">
        <div class="header-container">
            <a href="/main"><img src="/img/logo/LOGO.png" alt="logo"></a>
            <h1>관리자 페이지</h1>
        </div>

        <div class="section">
            <h2>회원 정보 조회</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>이름</th>
                        <th>이메일</th>
                        <th>가입일자</th>
                        <th class="delete-account">삭제</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.email}" class="email"></td>
                        <td th:text="${user.regDt}"></td>
                        <!-- 회원 삭제 -->
                        <td>
                            <form action="/admin/deleteUser" method="post">
                                <input type="hidden" name="userId" th:value="${user.id}">
                                <button type="submit">삭제</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="section">
            <h2>게시물 조회</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>제목</th>
                        <th>내용</th>
                        <th class="delete-post">삭제</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="post : ${posts}">
                        <td th:text="${post.id}"></td>
                        <td class="post-title"><a th:href="@{/detail(seq=${post.seq})}"><p th:text="${post.title}"></p></a></td>
                        <td th:text="${post.content}" class="post-comment"></td>
                        <!-- 게시글 삭제 -->
                        <td>
                            <form action="/admin/deletePost" method="post">
                                <input type="hidden" name="postId" th:value="${post.seq}">
                                <button type="submit">삭제</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Lucky PYNK Lost-and-found things. All rights reserved.</p>
    </footer>
</body>

</html>
