<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="/css/find-password.css">
</head>

<body>
    <div class="container">
        <a href="/login">
            <img src="/img/logo/LOGO.png" alt="로고" id="logo">
        </a>
        <form id="passwordForm" action="/show-password" method="GET" onsubmit="return validateForm()">
            <input type="text" placeholder="가입한 아이디를 입력해주세요" name="id" id="idInput">
            <button type="submit">비밀번호 찾기</button>
        </form>

        <!-- Display area for password -->
        <div id="passwordDisplay">
            <p th:text="${showpassword}"></p>
        </div>
    </div>

    <script>
        function validateForm() {
            var idInput = document.getElementById('idInput').value;
            if (idInput.trim() === '') {
                alert('아이디를 입력해주세요.');
                return false; // 폼 제출을 막음
            }
            return true; // 폼 제출 허용
        }
    </script>
</body>

</html>
