<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="css/login.css">

</head>

<body>
    <div class="login-dv">
        <a href="/main"><img src="/img/logo/LOGO.png" alt="로고" id="logo"><br></a>
        <form action="login" id="login-fm" method="post">
            <div >
                <p th:if="${error}" style="color: red;" th:text="${error}"></p>
            </div><br>
            <input type="text" name="id" placeholder="아이디" required>
            <input type="password" name="pw" placeholder="비밀번호" required>
            <button type="submit">로그인</button>
        </form>
        <!-- <a href="/find-password">비밀번호를 잊으셨나요?</a>  -->
        <a href="/password">비밀번호를 잊으셨나요?</a>
        <a href="/signup">회원이 아니신가요?</a>
    </div>


    <footer>
        <p>&copy; 2024 Lucky PYNK Lost-and-found things. All rights reserved.</p>
    </footer>
</body>

</html>