<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색 결과</title>
</head>

<body>
    <a href="/main">메인으로</a>
    <header>
        <h1>분실물 찾기 사이트</h1>
        <nav>
            <a th:if="${session.id == null}" href="/login">로그인</a>
            <a th:if="${session.id == null}" href="/signup">회원가입</a>
            <a th:if="${session.id != null}" href="/board/insert">글쓰기</a>
            <a th:if="${session.id != null}" href="/logout">로그아웃</a>
        </nav>
    </header>
    <main th:if="${session.id != null}">
        <h2 th:text="'환영합니다, ' + ${session.id} + ' 님!'" th:if="${session.id}"></h2>
        <section>
            <h2>검색 결과</h2>
            <p>검색어: <span th:text="${keyword}"></span></p>
            <div class="posts" th:if="${not #lists.isEmpty(posts)}">
                <div class="post" th:each="post : ${posts}">
                    <img th:src="${post.itemImage}" alt="첨부 이미지">
                    <div class="post-info">
                        <a th:href="@{/detail(seq=${post.seq})}">
                            <p th:text="${post.title}"></p>
                        </a>
                        <p th:text="${post.location1}"></p>
                        <p th:text="'작성일자: ' + ${post.regDt}"></p>
                    </div>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(posts)}">
                <p>검색 결과가 없습니다.</p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Lucky PYNK Lost-and-found things. All rights reserved.</p>
    </footer>
</body>

</html>